[Unit]
Description=xremap key remapper
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/xremap --device "Keychron Keychron Q12 Max" /home/anandpant/.config/xremap/config.yml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
